<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Create a new post')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="container">

    <header class="header">Create a new post</header>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        Title:
        <input class="title" th:field="*{title}" />
        <br />
        Description:
        <input class="description" th:field="*{description}" />
        <br />
        Body:
        <input class="body" type="text" th:field="*{body}" />
        <input type="submit" />

    </form>
</main>

</body>
</html>