<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/header :: header('Post Details')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="container">

    <div class="header" th:text="${post.title}"></div>
    <h3 style="text-align: center; margin-top: .5rem" th:text="${post.description}"></h3>
    <span>Authored By: </span> <p th:text="${post.user.username}"></p>
    <article th:text="${post.body}"></article>

    <div sec:authorize="isAuthenticated()">
        <a class="btn btn-primary" th:href="@{/posts/{id}/edit(id=${post.id})}" role="button">Edit</a>
        <form class="btn d-inline" th:action="@{/posts/delete}" th:method="POST">
            <button class="btn btn-danger" th:value="${post.id}" th:name="id">Delete</button>
        </form>
    </div>
    <div>
        <a th:href="'/posts'"><button>Go back</button></a>
    </div>
</main>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>