<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header('Post Details')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="container">

    <div class="header" th:text="${post.title}"></div>
    <span>Description: </span> <p th:text="${post.description}"></p>
    <span>Email: </span> <p th:text="${post.user.email}"></p>
    <article th:text="${post.body}"></article>

    <a class="btn btn-primary" th:href="@{/posts/{id}/edit(id=${post.id})}" role="button">Edit</a>
    <form class="btn d-inline" th:action="@{/posts/delete}" th:method="POST">
        <button class="btn btn-danger" th:value="${post.id}" th:name="id">Delete</button>
    </form>
    <div>
        <a th:href="'/posts'"><button>Go back</button></a>
    </div>
</main>

</body>
</html>