<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">
    <meta charset="UTF-8" />
    <title th:text="${'MOT Blog | ' + title}"></title>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
</body>
</html>