<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<th:block th:fragment="navbar">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/quotes}">Show All Quotes</a></li>
            <li><a th:href="@{/quotes/random}">Random Quote</a></li>
            <li><a th:href="@{/quotes/create}">Create New Quote</a></li>
        </ul>
    </nav>
</th:block>

</body>
</html>