<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
        <a class="navbar-brand" id="logo" th:href="@{/}">MOT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/posts}">All Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/posts/create}">Create a Post</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/profile}" th:method="GET">
                        <button class="btn-link btn">Profile</button>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <form th:action="@{/login}" th:method="GET">
                        <button class="btn-link btn">Login</button>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <form th:action="@{/sign-up}" th:method="GET">
                        <button class="btn-link btn">Sign Up!</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>

</body>
</html>