<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header('Log In')"></head>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <header class="header">Log In</header>

    <div class="container">
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            <input type="submit" value="Log In" />
        </form>
    </div>
</body>
</html>