<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Welcome Home!')"></head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <header class="header">
            <h1>Military Officer Transition Blog</h1>
        </header>
        <section>
            <p>This blog is designed specifically for Military Transitioning Officers.  This is a place that we can assist each other with networking, writing/reviewing resumes, and any advice necessary.</p>
            <p>Why do we focus on officers?  We above any other service member are assumed to have our lives figured out or we can figure it out on our own with limited amount of help.  In many cases that is absolutely true; however, during a transition, that is not always the case.  There are little to no military officer organizations where we can assist each other.</p>
        </section>
    </div>

    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>